<?xml version="1.0"?>
<!--
/**
 * Copyright © Grasch, Inc. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\ReCaptchaUi\Model\UiConfigResolver">
        <arguments>
            <argument name="uiConfigProviders" xsi:type="array">
                <item name="frontend_hcaptcha" xsi:type="object">Grasch\HCaptcha\Model\Frontend\UiConfigProvider\Proxy</item>
                <item name="frontend_hcaptcha_invisible" xsi:type="object">Grasch\HCaptcha\Model\Frontend\UiConfigProviderInvisible\Proxy</item>
                <item name="admih_hcaptcha" xsi:type="object">Grasch\HCaptcha\Model\Adminhtml\UiConfigProvider\Proxy</item>
                <item name="admin_hcaptcha_invisible" xsi:type="object">Grasch\HCaptcha\Model\Adminhtml\UiConfigProviderInvisible\Proxy</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\ReCaptchaUi\Model\ValidationConfigResolver">
        <arguments>
            <argument name="validationConfigProviders" xsi:type="array">
                <item name="frontend_hcaptcha" xsi:type="object">Grasch\HCaptcha\Model\Frontend\ValidationConfigProvider\Proxy</item>
                <item name="frontend_hcaptcha_invisible" xsi:type="object">Grasch\HCaptcha\Model\Frontend\ValidationConfigProvider\Proxy</item>
                <item name="admih_hcaptcha" xsi:type="object">Grasch\HCaptcha\Model\Adminhtml\ValidationConfigProvider\Proxy</item>
                <item name="admin_hcaptcha_invisible" xsi:type="object">Grasch\HCaptcha\Model\Adminhtml\ValidationConfigProvider\Proxy</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Magento\ReCaptchaAdminUi\Model\OptionSource\Type">
        <arguments>
            <argument name="options" xsi:type="array">
                <item name="hcaptcha" xsi:type="array">
                    <item name="label" xsi:type="string">hCAPTCHA</item>
                    <item name="value" xsi:type="string">hcaptcha</item>
                </item>
                <item name="hcaptcha_invisible" xsi:type="array">
                    <item name="label" xsi:type="string">hCAPTCHA Invisible</item>
                    <item name="value" xsi:type="string">hcaptcha_invisible</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <preference for="Grasch\HCaptcha\Model\IsHCaptchaEnabledForInterface" type="Grasch\HCaptcha\Model\IsHCaptchaEnabledFor"/>
    <type name="Grasch\HCaptcha\Model\IsHCaptchaEnabledFor">
        <arguments>
            <argument name="types" xsi:type="array">
                <item name="hcaptcha" xsi:type="string">hcaptcha</item>
                <item name="hcaptcha_invisible" xsi:type="string">hcaptcha_invisible</item>
            </argument>
        </arguments>
    </type>
    <preference for="Grasch\HCaptcha\Model\HCaptchaResponseResolverInterface" type="Grasch\HCaptcha\Model\HCaptchaResponseResolver"/>
    <preference for="Magento\ReCaptchaUi\Model\RequestHandler" type="Grasch\HCaptcha\Model\RequestHandler"/>

    <preference for="Magento\ReCaptchaPaypal\Observer\PayPalObserver" type="Grasch\HCaptcha\Observer\PayPalObserver"/>
    <type name="Grasch\HCaptcha\Observer\PayPalObserver">
        <arguments>
            <argument name="requestHandler" xsi:type="object">Grasch\HCaptcha\Model\RequestHandler</argument>
        </arguments>
    </type>

    <virtualType name="hCaptchaValidator" type="Magento\ReCaptchaValidation\Model\Validator">
        <arguments>
            <argument name="reCaptchaFactory" xsi:type="object">Grasch\HCaptcha\Model\HCaptchaFactory</argument>
        </arguments>
    </virtualType>

    <type name="Grasch\HCaptcha\Model\RequestHandler">
        <arguments>
            <argument name="hCaptchaValidator" xsi:type="object">hCaptchaValidator</argument>
        </arguments>
    </type>

    <virtualType name="requestHandlerForAjax" type="Grasch\HCaptcha\Model\RequestHandler">
        <arguments>
            <argument name="hCaptchaResponseResolver" xsi:type="object">Grasch\HCaptcha\Model\Ajax\HCaptchaResponseResolver</argument>
        </arguments>
    </virtualType>

    <preference for="Magento\ReCaptchaCustomer\Observer\AjaxLoginObserver" type="Grasch\HCaptcha\Observer\AjaxLoginObserver"/>
    <type name="Grasch\HCaptcha\Observer\AjaxLoginObserver">
        <arguments>
            <argument name="requestHandler" xsi:type="object">requestHandlerForAjax</argument>
        </arguments>
    </type>

    <preference for="Magento\ReCaptchaUser\Observer\LoginObserver" type="Grasch\HCaptcha\Observer\Admin\LoginObserver"/>
    <preference for="Magento\ReCaptchaUser\Observer\ForgotPasswordObserver" type="Grasch\HCaptcha\Observer\Admin\ForgotPasswordObserver"/>

    <virtualType name="Grasch\HCaptcha\Model\OptionSource\Size"
                 type="Magento\ReCaptchaAdminUi\Model\OptionSource">
        <arguments>
            <argument name="options" xsi:type="array">
                <item name="normal" xsi:type="array">
                    <item name="label" xsi:type="string" translate="true">Normal</item>
                    <item name="value" xsi:type="string">normal</item>
                </item>
                <item name="compact" xsi:type="array">
                    <item name="label" xsi:type="string" translate="true">Compact</item>
                    <item name="value" xsi:type="string">compact</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Grasch\HCaptcha\Model\OptionSource\Theme"
                 type="Magento\ReCaptchaAdminUi\Model\OptionSource">
        <arguments>
            <argument name="options" xsi:type="array">
                <item name="light" xsi:type="array">
                    <item name="label" xsi:type="string" translate="true">Light Theme</item>
                    <item name="value" xsi:type="string">light</item>
                </item>
                <item name="dark" xsi:type="array">
                    <item name="label" xsi:type="string" translate="true">Dark Theme</item>
                    <item name="value" xsi:type="string">dark</item>
                </item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Webapi\Controller\Rest\RequestValidator">
        <plugin name="rest_webapi_recaptcha_validation" disabled="true"/>
        <plugin name="rest_webapi_captcha_validation" type="Grasch\HCaptcha\Plugin\Magento\Webapi\Controller\Rest\RequestValidator\RestValidationPlugin"/>
    </type>
    <type name="Grasch\HCaptcha\Plugin\Magento\Webapi\Controller\Rest\RequestValidator\RestValidationPlugin">
        <arguments>
            <argument name="hcaptchaValidator" xsi:type="object">hCaptchaValidator</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\GraphQl\Query\ResolverInterface">
        <plugin name="graphql_recaptcha_validation" disabled="true" />
        <plugin name="graphql_captcha_validation" type="Grasch\HCaptcha\Plugin\Magento\Framework\GraphQl\Query\ResolverInterface\GraphQlValidator" />
    </type>
    <type name="Grasch\HCaptcha\Plugin\Magento\Framework\GraphQl\Query\ResolverInterface\GraphQlValidator">
        <arguments>
            <argument name="hcaptchaValidator" xsi:type="object">hCaptchaValidator</argument>
        </arguments>
    </type>
</config>
