<?xml version="1.0"?>
<!--
/**
 * Copyright © Grasch, Inc. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\ReCaptchaUi\Model\UiConfigResolver">
        <arguments>
            <argument name="uiConfigProviders" xsi:type="array">
                <item name="hcaptcha" xsi:type="object">Grasch\HCaptcha\Model\Adminhtml\UiConfigProvider\Proxy</item>
                <item name="hcaptcha_invisible" xsi:type="object">Grasch\HCaptcha\Model\Adminhtml\UiConfigProviderInvisible\Proxy</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\ReCaptchaUi\Model\ValidationConfigResolver">
        <arguments>
            <argument name="validationConfigProviders" xsi:type="array">
                <item name="hcaptcha" xsi:type="object">Grasch\HCaptcha\Model\Adminhtml\ValidationConfigProvider\Proxy</item>
                <item name="hcaptcha_invisible" xsi:type="object">Grasch\HCaptcha\Model\Adminhtml\ValidationConfigProvider\Proxy</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\ReCaptchaAdminUi\Block\Adminhtml\System\Config\Form\Field\Notice">
        <plugin name="Grasch_HCaptcha::AddHCaptchaNotice"
                type="Grasch\HCaptcha\Plugin\Magento\ReCaptchaAdminUi\Block\Adminhtml\System\Config\Form\Field\Notice\AddHCaptchaNotice"
        />
    </type>

    <type name="Grasch\HCaptcha\Model\Braintree\OptionSource">
        <arguments>
            <argument name="optionSource" xsi:type="object">Magento\ReCaptchaAdminUi\Model\OptionSource\Type</argument>
        </arguments>
    </type>

    <type name="Grasch\HCaptcha\Observer\Admin\LoginObserver">
        <arguments>
            <argument name="requestHandler" xsi:type="object">Grasch\HCaptcha\Model\RequestHandler</argument>
        </arguments>
    </type>

    <type name="Grasch\HCaptcha\Observer\Admin\ForgotPasswordObserver">
        <arguments>
            <argument name="requestHandler" xsi:type="object">Grasch\HCaptcha\Model\RequestHandler</argument>
        </arguments>
    </type>
</config>
